<div class="card">
    <div class="card-header">
        <h2 style="margin:0;">Puntos de Interés (Spots)</h2>
    </div>

    <div class="table-responsive" style="margin-top:20px;">
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Ubicación / Refs</th>
                    <th>Tipo</th>
                </tr>
            </thead>
            <tbody id="spotTableBody">
                <tr>
                    <td colspan="3" class="text-center">Cargando...</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>